<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://chatgpt.com/?openaicom_referred=true"><i class="fa-solid fa-circle-question"></i></a>
        </div>
    </div>
</footer>